.attribution { 
    font-size: 11px; text-align: center;
 }

.attribution a { 
    color: hsl(228, 45%, 44%);
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

.header {
    height: 40%;
    background-image: url('./images/bg-desktop-dark.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.background {
    height: 60%;
    background: black;
    color: white;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: block; /* Hidden by default */
    width: 50%; /* Full width (cover the whole page) */
    height: 75%; /* Full height (cover the whole page) */
    top: 12.5%;
    left: 25%;
    right: 0;
    bottom: 0;
    background-color: rgba(77, 80, 102, 0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

#text{
    position: absolute;
    top: 25%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}